configuration {
    show-icons:                     false;
    font:                           "Fantasque Sans Mono 16";
}

* {
    background-color:               transparent;
    background:                     {{ rofi_background }};
    background-active:              {{ rofi_background_active }};
    background-alt:                 {{ rofi_background_alt }};
    text-color:                     {{ rofi_text_color }};
    primary:                        {{ rofi_primary }};
    urgent:                         {{ rofi_urgent }};
}

window {
    height:                         100%;
    width:                          100%;
    transparency:                   "real";
    background-color:               @background;
}

mainbox {
    children:                       [ message, entry, listview ];
    padding:                        300px 300px;
}

entry {
    expand:                         false;
    margin:                         12px 36px;
    background-color:               @background-alt;
    padding:                        8px;
    border:                         8px;
    border-color:                   @background-alt;
    border-radius:                  5px;
}

element {
    padding:                        8px;
    orientation:                    horizontal;
    text-color:                     {{ rofi_element_text_color }};
}

element normal.urgent, element alternate.urgent {
    background-color:               @urgent;
}

element normal.active {
    background-color:               @background-active;
    border:                         4px 4px solid 4px 4px;
    border-radius:                  8;
    border-color:                   transparent;
}

element selected.active {
    background-color:               @background-color;
    text-color:                     @primary;
}

element selected {
    border:                         4px 4px solid 4px 4px;
    border-radius:                  8;
    border-color:                   @primary;
    text-color:                     {{ rofi_element_selected_text_color }};
}

element selected.urgent {
    background-color:               @urgent;
}

element selected.active {
    background-color:               @background-alt;
}

element-icon {
    border:                         1px;
    border-color:                   @primary;
    border-radius:                  5;
    padding:                        6px;
}

textbox {
    horizontal-align:   0.5;
    border:             0px 0px 2px;
    border-color:       @primary;
    margin:             12px;
    padding:            12px;
}
