[bar/status]
monitor = DVI-D-1-0
monitor-strict = false
override-redirect = false
bottom = false
fixed-center = true
width = 100%
offset-x = 1%
offset-y = 2%:-3
background = ${color.bg}
foreground = ${color.fg}
radius-top = 0.0
radius-bottom = 0.0
overline-size = 2
overline-color = ${color.ac}
border-bottom-size = 3
border-color = ${color.ac}
padding = 0
module-margin-left = 2
module-margin-right = 2

font-0 = "Ubuntu Condensed:size=10;2"
font-1 = "icomoon\-feather:size=10;2"
font-2 = "xos4 Terminus:size=12;1"


modules-left = remaining week
modules-center = countdown
modules-right = currenttask

separator =
spacing = 0
dim-value = 1.0
wm-name =
locale =

tray-position = none
tray-detached = false
tray-maxsize = 16
tray-transparent = false
tray-background = ${color.bg}
tray-offset-x = 0
tray-offset-y = 0
tray-padding = 0
tray-scale = 1.0
enable-ipc = true

click-left =
click-middle =
click-right =
scroll-up =
scroll-down =
double-click-left =
double-click-middle =
double-click-right =

cursor-click =
cursor-scroll =

